<style>

body {
  background-image: url("/assets/tub.png");
  position: fixed;
}


.whatever {
  margin-bottom: 200em;
  padding-bottom: 50em;
  border: 1px solid black;
  /*body: url;*/
}



</style>


<p id="notice"><%= notice %></p>




<div class="whatever">
  <p>
    <strong>Comment:</strong>
    <%= @message.comment %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= @message.due_date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @message.price %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= @message.artist_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @message.user_id %>
  </p>


  <p>
    <strong>Accepted?</strong>
    <%= @message.accepted %>
  </p>

</div>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
