<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @message.comment %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @message.due_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @message.price %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @message.artist_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
