<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @artist.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @artist.phone_number %>
</p>

<p> 
	<strong> messages </strong></br>
	<% Message.all.each do |message| %>
		<% if message.artist == @artist %>
			<%= message.comment %> </br>
			<%= message.due_date %></br>
			<%= message.price %></br>
			<%= message.user.first_name %> </br>
			<% if message.accepted %> 	
				Accepted!
			<% else %>
				Declined!
			<% end %>

		<% end %>
	<% end %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
